{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"tailwindConfig": "./tailwind.config.ts",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
