# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.desktop
bin/
dmg

.history
Dank Memer Grinder.code-workspace
config.json
build/bin
.idea
.task
.vscode/
test

build/linux/appimage
!build/linux/appimage/build.sh