{
    "1": {
        "state": false,
        "trivia_correct_chance": 0.75,
        "channel_id": "",
        "discord_token": "",
        "offline": false,
        "alerts": false,
        "autobuy": {
            "lifesavers": {
                "state": true,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "beg": false,
            "pet": false,
            "hl": false,
            "search": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "crime": false
        }
    },
    "2": {
        "state": false,
        "trivia_correct_chance": 0.75,
        "channel_id": "",
        "discord_token": "",
        "offline": false,
        "alerts": false,
        "autobuy": {
            "lifesavers": {
                "state": true,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "beg": false,
            "pet": false,
            "hl": false,
            "search": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "crime": false
        }
    },
    "3": {
        "state": false,
        "trivia_correct_chance": 0.75,
        "channel_id": "",
        "discord_token": "",
        "offline": false,
        "alerts": false,
        "autobuy": {
            "lifesavers": {
                "state": true,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "beg": false,
            "pet": false,
            "hl": false,
            "search": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "crime": false
        }
    },
    "4": {
        "state": false,
        "trivia_correct_chance": 0.75,
        "channel_id": "",
        "discord_token": "",
        "offline": false,
        "alerts": false,
        "autobuy": {
            "lifesavers": {
                "state": true,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "beg": false,
            "pet": false,
            "hl": false,
            "search": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "crime": false
        }
    },
    "5": {
        "state": false,
        "trivia_correct_chance": 0.75,
        "channel_id": "",
        "discord_token": "",
        "offline": false,
        "alerts": false,
        "autobuy": {
            "lifesavers": {
                "state": true,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "beg": false,
            "pet": false,
            "hl": false,
            "search": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "crime": false
        }
    }
}