{
    "1": {
        "trivia_correct_chance": 0.7,
        "channel_id": ,
        "discord_token": "",
        "state": false,
        "autobuy": {
            "lifesavers": {
                "state": false,
                "amount": 4
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "hl": false,
            "search": false,
            "beg": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "bj": {
                "multi": 350,
                "state": false,
                "bj_amount": "max"
            }
        }
    },
    "2": {
        "trivia_correct_chance": 0.7,
        "channel_id": ,
        "discord_token": "",
        "state": false,
        "autobuy": {
            "lifesavers": {
                "state": false,
                "amount": 4
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "hl": false,
            "search": false,
            "beg": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "bj": {
                "multi": 500,
                "state": false,
                "bj_amount": 1421
            }
        }
    },
    "3": {
        "trivia_correct_chance": 0.75,
        "channel_id": ,
        "discord_token": "",
        "state": false,
        "autobuy": {
            "lifesavers": {
                "state": false,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "hl": false,
            "search": false,
            "beg": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "bj": {
                "multi": "400",
                "state": false,
                "bj_amount": 5000
            }
        }
    },
    "4": {
        "trivia_correct_chance": 0.75,
        "channel_id": ,
        "discord_token": "",
        "state": false,
        "autobuy": {
            "lifesavers": {
                "state": false,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "hl": false,
            "search": false,
            "beg": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "bj": {
                "multi": "400",
                "state": false,
                "bj_amount": 5000
            }
        }
    },
    "5": {
        "trivia_correct_chance": 0.75,
        "channel_id": ,
        "discord_token": "",
        "state": false,
        "autobuy": {
            "lifesavers": {
                "state": false,
                "amount": 5
            },
            "fishing": false,
            "shovel": false,
            "rifle": false
        },
        "commands": {
            "trivia": false,
            "dig": false,
            "fish": false,
            "hunt": false,
            "pm": false,
            "hl": false,
            "search": false,
            "beg": false,
            "dep_all": false,
            "stream": false,
            "work": false,
            "daily": false,
            "bj": {
                "multi": "400",
                "state": false,
                "bj_amount": 5000
            }
        }
    },
    "state": false
}