name: Wails build

on:
  push:
    tags:
      - '*'

env:
  # Necessary for most environments as build failure can occur due to OOM issues
  NODE_OPTIONS: '--max-old-space-size=4096'

jobs:
  build:
    strategy:
      # Failure in one platform build won't impact the others
      fail-fast: false
      matrix:
        build:
          - name: 'Dank-Memer-Grinder-${{ github.ref_name }}-Linux-amd64'
            platform: 'linux/amd64'
            os: 'ubuntu-latest'
          - name: 'Dank-Memer-Grinder-${{ github.ref_name }}-Windows-amd64'
            platform: 'windows/amd64'
            os: 'windows-latest'
          - name: 'Dank-Memer-Grinder-${{ github.ref_name }}-macOS'
            platform: 'darwin/universal'
            os: 'macos-latest'

    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build wails
        uses: dAppServer/wails-build-action@v2.2
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          package: false
          go-version: '1.22'
